
<div class="container">
  <h1>Welcome to Tweeeeeeeeeeeeeeter!</h1>
  <p>Tweet from Kevin's twitter -_-</p>
<form action='/tweet' method='post'>
  <textarea name="tweet" rows="3" cols="50"></textarea>
  <input type="submit" value="Tweet!">
  <div class="charsleft">
    You have <span id="charsleft"></span> characters left bro.
  </div>
</form>
<div class="success">g
</div>
</div>

<div class="loading">
  <img src="/tacticat-loading.gif">
  <p id="loading">Charging Credit Card...</p>
</div>
